* {
  box-sizing: border-box;
  margin:0;
}
body {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
header {
  background-color:#dd4747;
  font-size:2.5em;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
.left {
  background-color:#2a9745;
  flex-basis: 20%;
  font-size: 1.5em;
  height: 25vh;
}

section {
  flex-basis: 60%;
  background-color: #3a85da;
  font-size: 1.5em;
  height: 25vh;
}

.right {
  background-color:#fa8a8a;
  flex-basis: 20%;
  font-size: 1.5em;
  height: 25vh;
}

footer {
  background-color: rgb(121, 34, 172);
  flex-basis: 100%;
  font-size: 2.5em;
}

@media (max-width:922px) {
  .left {
    flex-basis: 100%;
    order: 3;
  }
  section {
    flex-basis:80%;
  }
}

@media (max-width:768px) {
  .left {
   flex-basis: 100%;
  
  }
  section {
    flex-basis: 100%;
  }
  .right {
    flex-basis: 100%;
  }
}